{% extends "network/layout.html" %}


{% block body %}
    <h1>All Posts</h1>


    <div id="new_post">
      <form action="{% url 'new_post' %}" method="post">
          {% csrf_token %}
          {{form}}
        <input class="btn btn-primary" type="submit" value="Post">
      </form>
    </div>


    {% for post in posts%}


      <div id ="all_posts" 
            <p >{{post.user.username}} </p>
            <p >{{post.text}}</p>
            <p >{{post.created_at}}</p>
            <p >{{post.likes}}</p>
      </div>

    {% endfor %}


{% endblock %}
