{% extends "network/layout.html" %}
{%load static %}


{% block body %}

{% block script %}
    <script type="text/javascript" src="{% static 'network/posts.js' %}"></script>
{% endblock %}

<h1>{{username}} Profile</h1>


<h4> Following - {{following}} </h4>
<h4> Followers - {{followers}} </h4>



{% if user.get_username != username %}

  {% if flag == 1 %}

    <a href="{% url 'handleFollow' username flag%}"><strong>Unfollow </strong></a>

  {% elif flag == 0 %}

    <a href="{% url 'handleFollow' username flag%}"><strong>Follow </strong></a>

  {% endif %}


{% endif %}

<div id="all_posts">




<h4> {{username}} - Posts </h4>



  {% for post in posts%}

    <div class="container"
          <p ><strong>{{post.user.username}}</strong> </p>
          <p id = "edit_p{{post.id}}" >{{post.text}}</p>
          <p> <small>{{post.created_at}}</small></p>
          {% if user in post.user_likes.all %}
            <button id ="change_l{{post.id}}" class="dislike" value='{{post.id}}'></button>
          {% else %}
            <button id="change_d{{post.id}}" class="like" value= '{{post.id}}'></button>

          {% endif %}
          <div id = "likes{{post.id}}" class="image" >
            {{post.likes}}
          </div>
          {% if user.get_username == post.user.username %}
            <button class="edit" onclick = "send_edit_post('{{ post.id }}')"> <img src="{% static 'network/edit.png' %}" width="30" height="30" >Edit Post</button>
          {% endif %}
    </div>

  {% endfor %}

    <div class="bottom">
      {% if posts.has_previous %}
        <a href="{% url 'profile' username %}?page={{ posts.previous_page_number }}">Previous</a>
      {% endif %}

      {% if posts.has_next %}
        <a href="{% url 'profile' username %}?page={{ posts.next_page_number }}">Next</a>
      {% endif %}
    </div>

  </div>


  <div id="edit_post">
      <h3>Edit Post</h3>
      <form id="compose-form">
          <textarea class="form-control" id="compose-body"></textarea>
          <button type="button" id ="send">Save </button>
      </form>
  </div>

{% endblock %}
