{% extends "network/layout.html" %}
{%load static %}


{% block body %}

<h1>{{username}} Profile</h1>


<h4> Following - {{following}} </h4>
<h4> Followers - {{followers}} </h4>

{% if user.get_username != username %}

  {% if flag == 1 %}

    <a href="{% url 'handleFollow' username flag%}"><strong>Unfollow </strong></a>

  {% elif flag == 0 %}

    <a href="{% url 'handleFollow' username flag%}"><strong>Follow </strong></a>

  {% endif %}

{% endif %}


<h4> All Posts </h4>
{% for post in posts%}

  <div class="container"
        <p ><strong>{{post.user.username}}</strong> </p>
        <p >{{post.text}}</p>
        <p> <small>{{post.created_at}}</small></p>
        <img src="{% static 'network/small-heart-icon-0.jpg' %}" width="100" height="60">
        <div class="image">
          {{post.likes}}
        </div>
  </div>

{% endfor %}

{% endblock %}
